* {
    margin: 0;
    padding: 0;
    font-style: normal;
}

body {
    margin-top: 106px;
    margin-right: 160px;
    margin-left: 160px;
    margin-bottom: 116px;
}

header {
    display: flex;
    justify-content: space-between;
}

header nav {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
}

header h1 {
    color: var(--main-black, #181717);
    font: 500 50px DM Sans;
}

header nav p {
    color: var(--main-black, #181717);
    font: 500 22px DM Sans;
    margin-right: 30px;
}

.preview {
    margin-top: 128px;
    display: flex;
}

.preview .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preview .info h1 {
    color: var(--main-black, #181717);
    font: 500 60px DM Sans;
}

.preview p {
    display: flex;
    color: #606060;
    font: 400 32px DM Sans;
    margin-left: 180px;
}

.img-arrow {
    background-image: url(./arrow.png);
    height: 40px;
    width: 34px;
    background-size: contain;
    background-repeat: no-repeat;
   margin-top: 128px;
}

.project {
    margin-top: 83px;
    display: flex;
    height: 473px;
}

.project h3 {

    color: var(--main-black, #181717);
    font: 500 24px DM Sans;
    line-height: 121.5%;
    letter-spacing: -0.72px;

}

.portfolio {
    display: flex;
    width: 356px;
    height: 169px;
    flex-direction: column;


}

.project .portfolio .first-proj {
    color: var(--main-black, #181717);
    font: 400 22px DM Sans;
    line-height: 121.5%;
    letter-spacing: -0.66px;
    margin-top: 25px;
}

.project .portfolio .my-lang {
    color: var(--main-gray, #606060);
    font: 400 22px DM Sans;
}

.project .rectangle-1 {
    width: 640px;
    height: 365px;
    margin-left: 124px;
    background: var(--main-gray, #606060);
    justify-content: flex-end
    
}

.project .portfolio .more-shots-1 {
    margin-top: 146px;
    color: var(--main-black, #181717);
    font: 500 22px DM Sans;
    text-decoration-line: underline;
}

.project .portfolio .more-shots-1:hover {
    padding: 2px;
}

main .border-1 {
    margin-top: 108px;
    height: 1.5px;
    background: #181717;
}

.project-2 {
    margin-top: 114px;
    display: flex;
    flex-shrink: 0;
}

.left-side {
    display: flex;
    flex-direction: column;

}

.project-2 h1 {
    color: var(--main-black, #181717);
    font: 500 24px DM Sans;
}

.project-2 .sec-proj {
    color: var(--main-black, #181717);
    font: 400 22px DM Sans;
    margin-top: 64px;
    display: flex;
    width: 356px;
    height: 54.933px;
    flex-direction: column;
}

.project-2 .my-lang-2 {
    color: var(--main-gray, #606060);
    font: 400 22px DM Sans;
    margin-top: 20px;
    display: flex;
    width: 316px;
}

.project-2 .more-shots-2 {
    color: var(--main-black, #181717);
    font: 500 22px DM Sans;
    text-decoration-line: underline;
    margin-top: 156px;
}

.project-2 .more-shots-2:hover {
    padding: 2px;
}

.project-2 .rectangle-2 {
    width: 640px;
    height: 365px;
    background: var(--main-gray, #606060);
    margin-left: 124px;
    justify-content: flex-end
}

.border-2 {
    background: #181717;
    margin-top: 106px;
    height: 1.5px;
}

.project-3 {
    height: 473px;
    margin-top: 114px;
    display: flex;
}

.project-3 h1 {
    color: var(--main-black, #181717);
    font: 500 24px DM Sans;
}

.project-3 .third-proj {
    display: flex;
    width: 356px;
    height: 54.933px;
    flex-direction: column;
    margin-top: 46px;
    color: var(--main-black, #181717);
    font: 400 22px DM Sans;
}

.project-3 .my-lang-3 {

    display: flex;
    width: 316px;
    height: 65.004px;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--main-gray, #606060);
    font: 400 22px DM Sans;
    margin-top: 18px;

}

.project-3 .more-shots-3 {

    display: flex;
    width: 326.214px;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 143px;
    color: var(--main-black, #181717);
    font: 500 22px Inter;
    text-decoration-line: underline;

}

.project-3 .rectangle-3 {
    width: 640px;
    height: 365px;
    background: var(--main-gray, #606060);
    margin-left: 124px;
    justify-content: flex-end
}

footer {

    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

footer .foot-name {

    color: #2429AF;
    font: 500 22px DM Sans;
    line-height: 120%;
    letter-spacing: -0.66px;

}

footer nav {

    display: flex;
    align-items: center;
    margin-left: 650px;
    color: var(--main-black, #181717);
    font: 500 21px DM Sans;
    line-height: 120%;
    letter-spacing: -0.63px;
}

footer .tg {

    margin-left: 32px;

}

footer nav p:hover {
text-decoration: underline;
}